



.header-container{

    height: 100%; 
    background-image: url(./image/banner/Rectangle\ 5\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center top;

} 
 
 
 
 .nav {
         padding-top: 20px;
         display:flex;
         justify-content: space-between;
         gap: 30px;
         color: var(--font-primary-color);
         font-size: 30px;
        }

.right-menu-icon {
    width: 175px;
    text-align: center;

}



.banner-title h1 {

    font-size: 100px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 40px 0px;
}
.banner-desc {

    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 40px 0px;

}

.banner-profile-container {

    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color);
}

.banner-profile-desc {

    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 30px;
}

.work-icon-container {

    display: flex;
    gap: 15px;
    padding: 40px 0px;
    border-bottom: 1px solid var(--font-primary-color);
    
}

.check-icon {

    height: 50px;
    width: 50px;
}


.banner-image-container{

 
    background-color: var(--font-primary-color);
    width: fit-content;

}

#banner-image {
    height: 300px;
}

.complete-project-container {

    display: flex;
    justify-content: space-between;
}

.complete-project-cart h1 {

    font-size: 152px;
    text-transform: uppercase;
}

.complete-project-cart p {

    font-size: 40px;
    text-transform: uppercase;
}



@media only screen and (min-width: 200px) and (max-width: 600px) {

    .container{
        padding: 0px 0px;
    }

    .header-container{

        background-color: brown;
        font-size: 15px;
    }
    .complete-project-container{
        flex-direction: column;
    }

    .banner-profile-container {

       flex-direction: column;
    }

    .banner-image-container{

        width: 100%;
    
    }
    .banner-title h1 {

        font-size: 20px;
    }
}